<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>博文空间管理系统</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/font-awesome.min.css">
    <link rel="apple-touch-icon-precomposed" href="/static/admin/images/icon/icon.png">
    <link rel="shortcut icon" href="/static/admin/images/icon/favicon.ico">
    <script src="/static/admin/js/jquery-2.1.4.min.js"></script>
    <script src="/static/admin/js/MiniDialog-es5.min.js"></script>
    <style>
        .mini-dialog-footer {
            height: 60px !important;
        }
    </style>
</head>
<body class="user-select">
<section class="container-fluid">
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span
                            class="sr-only">切换导航</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                        <span class="icon-bar"></span></button>
                    <div style="height: 50px;text-align: center;line-height: 50px;width: 200px">
                        <img src="/static/user/images/logo2.png" alt="" style="height: 80%;">
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">欢迎：<span style="color: red"
                                                              th:text="${session.user.userName}"> </span></a>

                        </li>
                        <li>
                            <a href="/admin/login" onClick="if(!confirm('是否确认退出？'))return false;">退出登录</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="row">
        <aside class="col-sm-3 col-md-2 col-lg-2 sidebar">
            <ul class="nav nav-sidebar">
                <li>
                    <a href="/admin/index">首页</a>
                </li>
            </ul>
            <ul class="nav nav-sidebar">
                <li>
                    <a href="/admin/article">文章</a>
                </li>
                <li>
                    <a href="/admin/sort">类别</a>
                </li>
                <li>
                    <a href="/admin/photo">相册</a>
                </li>
                <li>
                    <a href="/admin/notice">公告</a>
                </li>
                <li>
                    <a href="/admin/comment">评论</a>
                </li>
                <li>
                    <a href="/admin/music">音乐</a>
                </li>

            </ul>
            <ul class="nav nav-sidebar">
                <li>
                    <a href="/admin/saying">每日一言</a>
                </li>
                <li>
                    <a href="/admin/timeline">程序历程</a>
                </li>
            </ul>
            <ul class="nav nav-sidebar">
                <li class="active">
                    <a class="dropdown-toggle" id="userMenu" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">我的</a>
                    <ul class="dropdown-menu" aria-labelledby="userMenu">
                        <li>
                            <a href="/admin/ability">实战技能</a>
                        </li>
                        <li>
                            <a href="/admin/detail">个人资料</a>
                        </li>
                        <li>
                            <a href="/admin/flink">友情链接</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </aside>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
        <div class="row">
            <div class="col-md-5">
                <h1 class="page-header">添加</h1>
                <form action="/admin/abilityAdd" method="post" autocomplete="off">
                    <div class="form-group">
                        <label for="category-name">技能名称</label>
                        <input type="text" id="category-name" name="abilityName" class="form-control" required
                               autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="category-describe">能力值</label>
                        <input class="form-control" id="category-describe" name="abilityNum" rows="4"
                               autocomplete="off"/>
                        <span class="prompt-text"><strong>注：</strong>能力值是0-100之间的数值，最小是0，最大为100</span>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block" type="submit" name="submit">发布</button>
                </form>
            </div>
            <div class="col-md-7">
                <h1 class="page-header">管理 </h1>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th><span class="glyphicon glyphicon-paperclip"></span> <span class="visible-lg">ID</span>
                            </th>
                            <th><span class="glyphicon glyphicon-file"></span> <span class="visible-lg">技能名称</span></th>
                            <th><span class="glyphicon glyphicon-list-alt"></span> <span class="visible-lg">技能值</span>
                            </th>
                            <th><span class="glyphicon glyphicon-time"></span> <span class="visible-lg">时间</span></th>
                            <th><span class="glyphicon glyphicon-pencil"></span> <span class="visible-lg">操作</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="ability:${abilities}">
                            <td th:text="${ability.abilityId}"></td>
                            <td th:text="${ability.abilityName}"></td>
                            <td th:text="${ability.abilityNum}"></td>
                            <td th:text="${ability.abilityUpdateTime}"></td>
                            <td>
                                <a href="javascript:void(0)" th:onclick="'delAbility('+${ability.abilityId}+');'">删除</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="/static/admin/js/bootstrap.min.js"></script>
<script src="/static/admin/js/admin-scripts.js"></script>
<script>
    function delAbility(id) {
        Dialog({
            title: "删除",
            content: "确定删除吗",
            ok: {
                callback: function () {
                    $.ajax({
                        type: "POST",
                        url: "/admin/abilityDel",
                        data: "id=" + id,
                        dataType: "text",
                        async: true,//同步为false，异步为true
                        cache: false, //不缓存此页面
                        success: function (data) {
                            if (data != null && data == "success") //注意js中比较字符串相等使用的是==
                                window.location.href = "/admin/ability";
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            console.log(errorThrown);
                        }
                    });
                }
            },
            cancel: {
                callback: function () {
                    console.log("取消删除");
                }
            }
        });
    }
</script>
</body>

</html>